@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  background-color:whitesmoke;
  color: black;
  padding: 0 200px;
}
header {
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
main {
  margin-top: 150px;
  background-color: white;
  padding: 25px;
  border-radius: 6px;
}
.brand {
  padding: 20px;
  font-size: 32px;
}
ul {
  list-style: none;
}
h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
    margin: 0 auto;
  }
}

footer {
  position: fixed;
  background-color: white;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}