@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  background-image: url('/img/pipes.png');
}
body {
  color: black;
  padding-top: 75px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 75px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body > header > div{
  background-color: white;
  color: black;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}
div { 
  background-color: whitesmoke;
}
#nav-list {
  padding-right: 50px;
  padding-top: 20px;
  display: block;
  text-align: center;
}
.nav-link {
  border: 1.5px solid black;
  float: right;
  padding: 10px;
  margin-left: 10px;
  background: black;
  color: white;
}
.nav-link:hover {
  background: whitesmoke;
  color: black;
}
#nav-list > li > a:after {
  color: white;
}
#nav-list > li > a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  float: right;
}

main {
  padding: 25px;
}
#myName {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}
#travels {
  text-align: center;
}
.brand {
  float: left;
  margin-left: 25px;
}
.brand , h1 {
  padding: 20px;
  font-size: 32px;
  text-align: left;
  text-decoration: none;
}
#about > h1 {
  display: block;
  text-align: center;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 5px;
  display: block;
  text-align: center;

}
.mainText, #funFacts, #about > ul {
  padding-left: 200px;
  padding-right: 200px;
}

#topTen {
  padding-left: 100px;
  padding: 35px;
  height: 325px;
}
#experience {
  height: 325px;
  padding: 25px 25px 100px 25px;
}

#avatar {
  padding-bottom: 20px;
  width: 300px;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
}
#dogPic1, #dogPic2 {
  margin-left: 200px;
  margin-right: 20px;
  margin-bottom: 50px;
}
#dogPic1 {
  width: 300px;
}
#dogPic2 {
  width: 320px;
  margin-left: 30px;
}
#cityPic {
  width: 600px;
  float: right;
}
ul {
  padding-bottom: 25px;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: whitesmoke;
    margin: 0 auto;
  }
}

footer {
  position: fixed;
  background-color: white;
  color: black;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}