@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  background-color: rgb(206, 52, 52);
  color: white;
}
#mainHeading {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}
ul {
  list-style: none;
}

#funFacts {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

}