@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#mainHeading {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  text-align: center;
  padding: 20px;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}
p , ul {
  text-align: center;
  margin-left: 350px;
  margin-right: 350px;
}
ul {
  list-style: none;
}
#funFacts {
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;

}